# Ignore class files
*.class

# Ignore package files
*.jar
*.war
*.ear

# Ignore build directories
/bin/
/build/
/out/

# Ignore logs
*.log

# IDE specific files
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/
